@import "./variables";
@mixin flexcenter($dir) {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: $dir;
}
@import "./h1";

header {
  @include flexcenter(column);
  background-color: $primaryCol;
}
