* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(45, 40, 40);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: solid 1px #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
}
