* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(45, 40, 40);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: solid 1px #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
}
button {
  padding: 15px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
