div {
  width: 15%;
  height: 40px;
  animation: move 2s infinite alternate, changeColor 4s infinite;
}
@keyframes changeColor {
  0% {
    background-color: red;
  }
  50% {
    background-color: rgb(206, 206, 209);
  }
  100% {
    background-color: rgb(0, 255, 136);
  }
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
